button {
  width: 15%;
  background-color: red;
  color: #333735;
  font-family: "Arial Rounded MT Bold";
  font-size: 20px;
  text-shadow: 1px 1px black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  top: 500px;
  right: 910px;
}
.submit :hover{
  background-color: #b22525;
}

.space {
  margin-top: 50px;
}

textarea{
  border: 2px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  padding: 12px 20px;
}

label {
  color: #D12D2D;
  font-family: "Arial Rounded MT Bold";
}

body {
  background-color: #333735
}
.align {
  float: left;
  padding: 50px;
  margin-left: 200px;
}

.lol {
  text-align: left;
}

.left {
  text-align: left;
}
.url {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 255px;
  margin-right: 50px;
}

.respond {
float: left;
}

.big {
text-align: left;

}
input[type=text], select {
  width: 70%;
  border-radius: 80px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 12px 20px;
}



.http {
  text-align: right;
  margin-right: 20px;

}

.place{
  float: left;
  margin-left: 20px
}
